*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0d1b2a,#1b263b,#415a77);
overflow:hidden;
}

.container{
width:100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
position:relative;
padding:20px;
}

/* Logo */
.logo{
width:110px;
height:110px;
object-fit:cover;
border-radius:50%;
margin-bottom:18px;
display: block;
margin-left: auto;
margin-right: auto;
animation:zoomLogo 1.5s ease;
}

/* Welcome text */
.welcome{
font-size:42px;
font-weight:bold;
color:white;
margin-bottom:12px;
animation:fadeDown 1.5s ease;
}

/* TSA Text */
.tsa{
font-size:95px;
font-weight:bold;
letter-spacing:6px;

background:linear-gradient(
to bottom,
#a67d83 0%,
#616cd3 20%,
#84fafc 43%,
#fdfbf3 60%,
#f9f697 82%,
#f4d186 100%
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation:slideZoom 2s ease;
}

/* Footer */
.footer{
position:absolute;
bottom:10px;
right:15px;
font-size:14px;
color:rgba(255,255,255,0.55);
font-style:italic;
}

/* Animations */
@keyframes fadeDown{
0%{
transform:translateY(-40px);
opacity:0;
}
100%{
transform:translateY(0);
opacity:1;
}
}

@keyframes slideZoom{
0%{
transform:translateX(-250px) scale(0.2);
opacity:0;
}
100%{
transform:translateX(0) scale(1);
opacity:1;
}
}

@keyframes zoomLogo{
0%{
transform:scale(0.2);
opacity:0;
}
100%{
transform:scale(1);
opacity:1;
}
}

/* Mobile Responsive */
@media(max-width:768px){

.logo{
width:80px;
height:80px;
}

.welcome{
font-size:28px;
}

.tsa{
font-size:58px;
letter-spacing:3px;
}

.footer{
font-size:12px;
right:10px;
bottom:8px;
}

}


/* Second page */

/* Dashboard Page */

.dashboard{
min-height:100vh;
padding:25px 15px;
text-align:center;
color:white;
}

.top-logo{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

.dashboard h1{
font-size:35px;
margin-bottom:5px;
}

.tagline{
font-size:16px;
margin-bottom:25px;
color:#ddd;
}

.menu{
max-width:420px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

.card{
text-decoration:none;
color:white;
font-size:22px;
font-weight:bold;
padding:18px;
border-radius:14px;
background:rgba(255,255,255,0.12);
border:1px solid rgba(255,255,255,0.2);
backdrop-filter:blur(5px);
transition:0.3s;
}

.card:hover{
transform:translateY(-4px);
background:rgba(255,255,255,0.22);
box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

/* Mobile */
@media(max-width:768px){

.dashboard h1{
font-size:28px;
}

.card{
font-size:18px;
padding:15px;
}

}